{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    //"airbnb-base/legacy",
    "airbnb-typescript/base",
    "airbnb-typescript-prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:eslint-comments/recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/unicorn"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-comments",
    "prettier",
    "promise",
    "unicorn"
  ],
  "rules": {
    "promise/catch-or-return": 0,
    "no-param-reassign": 0,
    "quotes": ["error", "double"],
    "semi": ["error", "always"]
  }
}
